


.team-section{
    padding: 67px 0 61px;


    .team-more{
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }

    .team-member-name{
        margin-bottom: 1.5rem;
        a {
                line-height: 2.7rem;
                font-size: 2.2rem;
            }
    }

    teme-member-info{
        margin-bottom: 3rem;
    }

    .fa-linkedin-in{
        color: $gray-900;
        font-size: 3rem;
    }



}

@media(min-width:576px){
    .team-section{
        .teme-member-info{
            margin-bottom: 10rem;
        }
    }
}



//team page 


$linkin-color: $primary;


.pteam-section{
    padding: 64px 0;
    

    .pteam-item{
        padding-bottom: 52px;


        .pteam-member{
            position: relative;

            .fa-linkedin-in{
                font-size: 25px;
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: $linkin-color;

                padding: 5%;
                background-color: $white;
                border-radius: 30%;
                   
            }

            a{
                font-size: 1.8rem;
                line-height: 2.7rem;
            }
        }

    }
}
